#arquivos gerados pelo Windows e pelo Mac
.DS_Store
.DS_Store.meta
thumbs.db
thumbs.db.meta

Library/
Temp/


*.apk
*.exe
[Bb]uilds/
[Bb]uild/

*.csproj
*.unityproj
*.pidb
*.sh
*.sln
*.userprefs

#arquivos criados pelo VIM
*.sw[a-z]
tags
tags.meta
/Assets/BEP3/
Assets/Fog of War/Examples/Terrain/Example.asset


