#arquivos gerados pelo Windows e pelo Mac
.DS_Store
.DS_Store.meta
thumbs.db
thumbs.db.meta

Library/
Temp/


*.apk
*.exe
[Bb]uilds/
[Bb]uild/

*.csproj
*.unityproj
*.pidb
*.sh
*.sln
*.userprefs

#arquivos criados pelo VIM
*.sw[a-z]
tags
tags.meta
/Assets/Standard Assets/StonyGroundPackage.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/1 tile.png
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/1 tile.png.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/16 tiles.png
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/16 tiles.png.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/4 tiles.png
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/4 tiles.png.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/80 tiles.png
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/80 tiles.png.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/Collision effect.png
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/Collision effect.png.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/Following Terrain.png
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/Following Terrain.png.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/Full integration.png
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/Full integration.png.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/Grass at the edges.png
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/Grass at the edges.png.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/Materials.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/Materials/1 tile.mat
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/Materials/1 tile.mat.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/Materials/16 tiles.mat
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/Materials/16 tiles.mat.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/Materials/4 tiles.mat
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/Materials/4 tiles.mat.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/Materials/80 tiles.mat
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/Materials/80 tiles.mat.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/Materials/Following Terrain.mat
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/Materials/Following Terrain.mat.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/Materials/Grass at the edges.mat
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/Materials/Grass at the edges.mat.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/Materials/Plane with plane.mat
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/Materials/Plane with plane.mat.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/Materials/Plane with terrain.mat
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/Materials/Plane with terrain.mat.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/Materials/Terrain with planes and water.mat
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/Materials/Terrain with planes and water.mat.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/Materials/collision effect.mat
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/Materials/collision effect.mat.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/Materials/full integration.mat
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/Materials/full integration.mat.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/Materials/tiles with tile.mat
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/Materials/tiles with tile.mat.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/Plane with plane.png
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/Plane with plane.png.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/Plane with terrain.png
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/Plane with terrain.png.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/Terrain with planes and water.png
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/Terrain with planes and water.png.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/Tiles with tile.png
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Instructions images/Tiles with tile.png.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Materials.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Materials/Black.mat
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Materials/Black.mat.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/New Terrain.asset
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/New Terrain.asset.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Black.jpg
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Black.jpg.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Character Controllers.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Character Controllers/First Person Controller.prefab
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Character Controllers/First Person Controller.prefab.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Character Controllers/Sources.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Character Controllers/Sources/Scripts.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Character Controllers/Sources/Scripts/CharacterMotor.js
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Character Controllers/Sources/Scripts/CharacterMotor.js.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Character Controllers/Sources/Scripts/FPSInputController.js
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Character Controllers/Sources/Scripts/FPSInputController.js.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Character Controllers/Sources/Scripts/MouseLook.cs
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Character Controllers/Sources/Scripts/MouseLook.cs.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Character Controllers/Sources/Scripts/PlatformInputController.js
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Character Controllers/Sources/Scripts/PlatformInputController.js.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Character Controllers/Sources/Scripts/ThirdPersonCamera.js
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Character Controllers/Sources/Scripts/ThirdPersonCamera.js.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Character Controllers/Sources/Scripts/ThirdPersonController.js
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Character Controllers/Sources/Scripts/ThirdPersonController.js.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Water (Basic).meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Water (Basic)/Daylight Simple Water.prefab
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Water (Basic)/Daylight Simple Water.prefab.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Water (Basic)/Nighttime Simple Water.prefab
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Water (Basic)/Nighttime Simple Water.prefab.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Water (Basic)/Sources.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Water (Basic)/Sources/Materials.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Water (Basic)/Sources/Materials/Daylight Simple Water.mat
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Water (Basic)/Sources/Materials/Daylight Simple Water.mat.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Water (Basic)/Sources/Materials/Nighttime Simple Water.mat
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Water (Basic)/Sources/Materials/Nighttime Simple Water.mat.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Water (Basic)/Sources/Objects.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Water (Basic)/Sources/Objects/Materials.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Water (Basic)/Sources/Objects/Materials/water plane-lambert1.mat
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Water (Basic)/Sources/Objects/Materials/water plane-lambert1.mat.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Water (Basic)/Sources/Objects/Water Plane.fbx
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Water (Basic)/Sources/Objects/Water Plane.fbx.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Water (Basic)/Sources/Scripts.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Water (Basic)/Sources/Scripts/WaterSimple.cs
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Water (Basic)/Sources/Scripts/WaterSimple.cs.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Water (Basic)/Sources/Shaders.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Water (Basic)/Sources/Shaders/FX-Water Simple.shader
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Water (Basic)/Sources/Shaders/FX-Water Simple.shader.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Water (Basic)/Sources/Textures.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Water (Basic)/Sources/Textures/Water fallback.jpg
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Water (Basic)/Sources/Textures/Water fallback.jpg.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Water (Basic)/Sources/Textures/Waterbump.jpg
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Water (Basic)/Sources/Textures/Waterbump.jpg.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Water (Basic)/Sources/Textures/nightgradient cubemap.psd.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Water (Basic)/Sources/Textures/nightgradient.psd.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Water (Basic)/Sources/Textures/oceangradient.psd.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/Water (Basic)/Sources/Textures/oceangradientcube.psd.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/white.png
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/Standard Assets/white.png.meta
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/StonyGroundPackage.unity
/Assets/Standard Assets/StonyGroundPackage/InstructionsScene/StonyGroundPackage.unity.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/Materials.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/Materials/DSC04260.mat
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/Materials/DSC04260.mat.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/Materials/DSC04472.mat
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/Materials/DSC04472.mat.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/Materials/StonedGround11.mat
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/Materials/StonedGround11.mat.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/Materials/StonedGround4.mat
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/Materials/StonedGround4.mat.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/Materials/StonedGround5.mat
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/Materials/StonedGround5.mat.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/Materials/StonedGroundTexture.mat
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/Materials/StonedGroundTexture.mat.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/Materials/StonyGround1.mat
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/Materials/StonyGround1.mat.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/Materials/StonyGround10.mat
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/Materials/StonyGround10.mat.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/Materials/StonyGround2.mat
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/Materials/StonyGround2.mat.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/Materials/StonyGround3.mat
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/Materials/StonyGround3.mat.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/Materials/StonyGround4.mat
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/Materials/StonyGround4.mat.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/Materials/StonyGround5.mat
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/Materials/StonyGround5.mat.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/Materials/StonyGround6.mat
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/Materials/StonyGround6.mat.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/Materials/StonyGround7.mat
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/Materials/StonyGround7.mat.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/Materials/StonyGround8.mat
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/Materials/StonyGround8.mat.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/Materials/StonyGround9.mat
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/Materials/StonyGround9.mat.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/Materials/stonedGround10.mat
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/Materials/stonedGround10.mat.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/Materials/stonedGround6.mat
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/Materials/stonedGround6.mat.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/Materials/stonedGround7.mat
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/Materials/stonedGround7.mat.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/Materials/stonedGround9.mat
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/Materials/stonedGround9.mat.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround1.FBX
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround1.FBX.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround1.fbm.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround1.fbm/DSC04472.jpg
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround1.fbm/DSC04472.jpg.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround10.FBX
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround10.FBX.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround10.fbm.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround10.fbm/stonedGround9.jpg
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround10.fbm/stonedGround9.jpg.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround10Textures.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround10Textures/StonyGround10.jpg
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround10Textures/StonyGround10.jpg.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround10Textures/StonyGround10NormalMap.jpg
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround10Textures/StonyGround10NormalMap.jpg.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround1Textures.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround1Textures/StonyGround1.jpg
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround1Textures/StonyGround1.jpg.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround1Textures/StonyGround1NormalMap.jpg
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround1Textures/StonyGround1NormalMap.jpg.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround2.FBX
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround2.FBX.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround2.fbm.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround2.fbm/DSC04260.jpg
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround2.fbm/DSC04260.jpg.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround2Textures.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround2Textures/StonyGround2.jpg
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround2Textures/StonyGround2.jpg.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround2Textures/StonyGround2NormalMap.jpg
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround2Textures/StonyGround2NormalMap.jpg.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround3.FBX
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround3.FBX.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround3.fbm.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround3.fbm/StonedGroundTexture.jpg
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround3.fbm/StonedGroundTexture.jpg.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround3Textures.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround3Textures/StonyGround3.jpg
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround3Textures/StonyGround3.jpg.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround3Textures/StonyGround3NormalMap.jpg
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround3Textures/StonyGround3NormalMap.jpg.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround4.FBX
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround4.FBX.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround4.fbm.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround4.fbm/StonedGround4.jpg
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround4.fbm/StonedGround4.jpg.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround4Textures.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround4Textures/StonyGround4.jpg
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround4Textures/StonyGround4.jpg.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround4Textures/StonyGround4NormalMap.jpg
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround4Textures/StonyGround4NormalMap.jpg.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround5.FBX
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround5.FBX.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround5.fbm.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround5.fbm/StonedGround5.jpg
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround5.fbm/StonedGround5.jpg.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround5Textures.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround5Textures/StonyGround5.jpg
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround5Textures/StonyGround5.jpg.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround5Textures/StonyGround5NormalMap.jpg
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround5Textures/StonyGround5NormalMap.jpg.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround6.FBX
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround6.FBX.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround6.fbm.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround6.fbm/stonedGround6.jpg
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround6.fbm/stonedGround6.jpg.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround6Textures.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround6Textures/StonyGround6.jpg
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround6Textures/StonyGround6.jpg.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround6Textures/StonyGround6NormalMap.jpg
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround6Textures/StonyGround6NormalMap.jpg.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround7.FBX
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround7.FBX.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround7.fbm.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround7.fbm/stonedGround7.jpg
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround7.fbm/stonedGround7.jpg.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround7Textures.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround7Textures/StonyGround7.jpg
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround7Textures/StonyGround7.jpg.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround7Textures/StonyGround7NormalMap.jpg
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround7Textures/StonyGround7NormalMap.jpg.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround8.FBX
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround8.FBX.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround8.fbm.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround8.fbm/StonedGround11.jpg
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround8.fbm/StonedGround11.jpg.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround8Textures.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround8Textures/StonyGround8.jpg
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround8Textures/StonyGround8.jpg.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround8Textures/StonyGround8NormalMap.jpg
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround8Textures/StonyGround8NormalMap.jpg.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround9.FBX
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround9.FBX.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround9.fbm.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround9.fbm/stonedGround10.jpg
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround9.fbm/stonedGround10.jpg.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround9Textures.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround9Textures/StonyGround9.jpg
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround9Textures/StonyGround9.jpg.meta
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround9Textures/StonyGround9NormalMap.jpg
/Assets/Standard Assets/StonyGroundPackage/StonyGrounds/StonyGround9Textures/StonyGround9NormalMap.jpg.meta
/Assets/TerrainComposer.meta
/Assets/TerrainComposer/Buttons.meta
/Assets/TerrainComposer/Editor.meta
/Assets/TerrainComposer/Prefabs.meta
/Assets/TerrainComposer/Save.meta
/Assets/TerrainComposer/Save/Colors.meta
/Assets/TerrainComposer/Save/Heightmaps.meta
/Assets/TerrainComposer/Save/LayerGroups.meta
/Assets/TerrainComposer/Save/Layers.meta
/Assets/TerrainComposer/Save/Layers/Output Maps.meta
/Assets/TerrainComposer/Save/Layers/Preset.meta
/Assets/TerrainComposer/Save/Projects.meta
/Assets/TerrainComposer/Save/Projects/Examples.meta
/Assets/TerrainComposer/Scripts.meta
/Assets/TerrainComposer/Shaders.meta
/Assets/TerrainComposer/Shaders/TriPlanarTerrain.meta
/Assets/TerrainComposer/Shaders/TriPlanarTerrain/Scripts.meta
/Assets/TerrainComposer/Templates.meta
/Assets/TerrainComposer/Templates/Textures.meta
/Assets/TerrainComposer/Update.meta
/Assets/Project Assets/GUI/RTS menu/Telas RTS.meta
/Assets/Project Assets/GUI/RTS menu/Telas RTS/Achieviments.png
/Assets/Project Assets/GUI/RTS menu/Telas RTS/Achieviments.png.meta
/Assets/Project Assets/GUI/RTS menu/Telas RTS/Active Games.png
/Assets/Project Assets/GUI/RTS menu/Telas RTS/Active Games.png.meta
/Assets/Project Assets/GUI/RTS menu/Telas RTS/Background.png
/Assets/Project Assets/GUI/RTS menu/Telas RTS/Background.png.meta
/Assets/Project Assets/GUI/RTS menu/Telas RTS/Change passsword.png
/Assets/Project Assets/GUI/RTS menu/Telas RTS/Change passsword.png.meta
/Assets/Project Assets/GUI/RTS menu/Telas RTS/Create user.png
/Assets/Project Assets/GUI/RTS menu/Telas RTS/Create user.png.meta
/Assets/Project Assets/GUI/RTS menu/Telas RTS/Forgot account or password.png
/Assets/Project Assets/GUI/RTS menu/Telas RTS/Forgot account or password.png.meta
/Assets/Project Assets/GUI/RTS menu/Telas RTS/Lobby+crystal.png
/Assets/Project Assets/GUI/RTS menu/Telas RTS/Lobby+crystal.png.meta
/Assets/Project Assets/GUI/RTS menu/Telas RTS/Login.png
/Assets/Project Assets/GUI/RTS menu/Telas RTS/Login.png.meta
/Assets/Project Assets/GUI/RTS menu/Telas RTS/New Game.png
/Assets/Project Assets/GUI/RTS menu/Telas RTS/New Game.png.meta
/Assets/Project Assets/GUI/RTS menu/Telas RTS/Quality settigs.png
/Assets/Project Assets/GUI/RTS menu/Telas RTS/Quality settigs.png.meta
/Assets/Project Assets/GUI/RTS menu/Telas RTS/SHOP.png
/Assets/Project Assets/GUI/RTS menu/Telas RTS/SHOP.png.meta
/Assets/Project Assets/GUI/RTS menu/Telas RTS/Sound options.png
/Assets/Project Assets/GUI/RTS menu/Telas RTS/Sound options.png.meta
/Assets/Project Assets/GUI/RTS menu/Telas RTS/Tela de Espera Versus.jpg
/Assets/Project Assets/GUI/RTS menu/Telas RTS/Tela de Espera Versus.jpg.meta
/Assets/Project Assets/GUI/RTS menu/Telas RTS/World Rank.png
/Assets/Project Assets/GUI/RTS menu/Telas RTS/World Rank.png.meta
/Assets/Project Assets/GUI/RTS menu/Telas RTS/_tamanhos.txt
/Assets/Project Assets/GUI/RTS menu/Telas RTS/_tamanhos.txt.meta
