#arquivos gerados pelo Windows e pelo Mac
.DS_Store
.DS_Store.meta
thumbs.db
thumbs.db.meta

Library/
Temp/


*.apk
*.exe
[Bb]uilds/
[Bb]uild/

*.csproj
*.unityproj
*.pidb
*.sh
*.sln
*.userprefs

#arquivos criados pelo VIM
*.sw[a-z]
tags
tags.meta
/Assets/BEP3/
Assets/Fog of War/Examples/Terrain/Example.asset

/Assets/Priority Queue.csproj.meta
/Assets/_Scripts/Priority Queue.meta
/Assets/_Scripts/Priority Queue/HeapPriorityQueue.cs
/Assets/_Scripts/Priority Queue/HeapPriorityQueue.cs.meta
/Assets/_Scripts/Priority Queue/IPriorityQueue.cs
/Assets/_Scripts/Priority Queue/IPriorityQueue.cs.meta
/Assets/_Scripts/Priority Queue/Priority Queue.csproj.meta
/Assets/_Scripts/Priority Queue/PriorityQueueNode.cs
/Assets/_Scripts/Priority Queue/PriorityQueueNode.cs.meta
/Assets/_Scripts/Priority Queue/Properties.meta
/Assets/_Scripts/Priority Queue/Properties/AssemblyInfo.cs
/Assets/_Scripts/Priority Queue/Properties/AssemblyInfo.cs.meta
